.table-wrapper
  %table
    %thead
      %tr
        %th 출처
        %th 제목
        %th 평점
    %tbody
      -if @historys
        -@historys.each do |history|
          -post = history.totalpost
          %tr
            %td
              =source_img post.source
            %td
              =link_to "/totalpost/show/#{post.post_no}" do
                =truncate post.title, length: 50
            %td
              =post.popurarity

