
- posts.each_hit_with_result do |hit, post|
  .card.back-tp
    .card-header.back-tp{:role => "tab",:id => "heading-#{post.id}"}
      %h5.mb-2.d-flex.justify-content
        =source_img post.source
        %a.ft-cb{:href => "#{post.link}"}
          =truncate post.title, length: 50
        %div
          -unless hit.score.nil?
            %p
              =score_to_star hit.score, post.popurarity
    .collapse{"aria-labelledby" => "heading-#{post.id}", :role => "tabpanel", :id => "collapse-#{post.id}","aria-expanded" => "false"}
      .card-block
        =post.posttext
