-if posts
  -posts.each do |p|
    -post = p.totalpost
    %tr
      %td
        =source_img post.source
      %td
        =link_to "/totalpost/show/#{post.post_no}" do
          =truncate post.title, length: 50
      %td
        =post.popurarity
