
.row.py-5
  .col.ct
    .h1
      %button.btn.btn-tp{:type => "button", "data-toggle" => "collapse", "data-target" => ".l1", "aria-expanded" => "false", "aria-controls" =>"accordion"}
        오늘의 인기 게시물
    #accordion.collapse.l1{"aria-multiselectable" => "true", :role => "tablist"}
      =render 'data', posts: @today_popular_posts
  .col
    .h1
      %button.btn.btn-tp{:type => "button", "data-toggle" => "collapse", "data-target" => ".l2", "aria-expanded" => "false", "aria-controls" =>"accordion"}
        이번주 인기 게시물
    #accordion.collapse.l2{"aria-multiselectable" => "true", :role => "tablist"}
      =render 'data', posts: @this_week_popular_posts
.row
  .col
    .h1
      .userTitle 당신을 위한 맞춤 게시물
    #recommend{"aria-multiselectable" => "true", :role => "tablist"}
      =render 'recommend_post', posts: @recommend_posts
.row
  .col
    .h1
      .userTitle 인기 게시물
    #infinite_scroll{"aria-multiselectable" => "true", :role => "tablist"}
      =render 'data', posts: @posts
    %p.pagination
      =link_to_next_page @posts, 'Next Page', :remote => true