-if @posts
  .posts
    -@posts.each_with_index do |recommend, index|
      -post = recommend.totalpost
      %article
        =link_to "/totalpost/show/#{post.post_no}",class: "image" do
          = post_img post
        %h3
          =post.title
        %p
          =truncate post.posttext, length: 100
        %ul.actions
          %li
            -if post.get_likes.size > 0
              =link_to "좋아요 " + post.get_likes.size.to_s, "/like/" + post.post_no.to_s, class: current_user.liked?(post) ? 'button special' : 'button'
            -else
              =link_to "좋아요", "/like/" + post.post_no.to_s, class: "button"
          %li
            -if post.get_dislikes.size > 0
              =link_to "싫어요 " + post.get_dislikes.size.to_s, "/dislike/" + post.post_no.to_s, class: current_user.disliked?(post) ? 'button special' : 'button'
            -else
              =link_to "싫어요", "/dislike/" + post.post_no.to_s, class: "button"

-#%p.pagination
-#  =link_to_next_page @results.results, 'Next Page', :remote => true