.table-wrapper
  %table
    %thead
      %tr
        %th 출처
        %th 제목
        %th 평점
    %tbody#infinite_scroll
      =render 'scrap_data',posts: @posts
-unless @posts.empty?
  =paginate @posts, window: 2
